body {
    overflow-x: hidden;
    width: 100vw;
    background-color: lightsteelblue;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bold;
}

#inputContainer {
    background-color: rgb(185, 223, 185);
}

#responseContainer {
    background-color: rgb(190, 190, 190);
}

#wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

.container {
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header{
    display:inline-block;
    align-content: center;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}

#bloggDropdown {
    width: 60vw;
    justify-content: center;
}

.form-control {
    margin: 4px;
}

input {
    text-align: start;
}

#blogg {
    width: 30;
    
}

.btn {
    width: 200px;
    margin: 5px;
}

#responseContainer {
    width: 60vw;
}

#bloggText{
    word-wrap: break-word;
}


@media only screen and ( min-width: 300px) {
  
    #bloggDropdown{
        margin: auto;
    }
    #responseContainer, #bloggDropdown {
        width: 80vw;
    }

}

/* smartphone landscapes */

@media only screen and (min-width: 480px) {
      
}

/* tablets portrait */

@media only screen and (min-width: 768px) {
    #responseContainer, #bloggDropdown {
        width: 60vw;
    }
}

/* Tablet landscape, desktop */

@media only screen and (min-width: 1024px) {
    #responseContainer, #bloggDropdown {
        width: 60vw;
    }
}

/* Very large desktops */

@media only screen and (min-width: 1199px) {
    #responseContainer, #bloggDropdown {
        width: 40vw;
    }
     
    
}